body {
    background-color: #cfd8dc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.client {
    max-width: 450px;
    margin: 1px;
    display: block;
    text-decoration: none;
    background-color: #0277bd;
    color: #fefefe;
    padding: 10px;
    cursor: pointer;
}

a:hover {
    background-color: #002f6c;
    color: white;
}

a:focus {
    background-color: #01579b;
}

a {
    max-width: 430px;
    margin: 1px 0 1px 20px;
    display: none;
    text-decoration: none;
    background-color: white;
    color: #111;
    padding: 10px;
}

header {
    margin: 0;
    background-color: #01579b;
    color: white;
}

.heading,
.side-info {
    margin: 10px 20px;
    font-size: 1.3rem;
    display: inline-block;
}

.heading {
    font-weight: bold;
}

.side-info {
    float: right;
}

@media (max-width: 600px) {
    .side-info {
        float: none;
    }
}

#container {
    margin: 20px;
}